//
//  Base.xcconfig
//  ChristmasTracker
//
//  Created by Brian Alberta on 11/29/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = Christmas Tracker
BASE_BUNDLE_IDENTIFIER = com.alberta.ChristmasTracker
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)
CONFIG_API_HOST = content.bmalberta.com
CHRISTMAS_DATE = 2024-12-25T00:00:00+0000
API_SCHEME = https:
CONFIG_SCHEME = https:
LOG_SUBSYSTEM = $(BASE_BUNDLE_IDENTIFIER)

