
ChristmasTracker_Dist/*
.DS_Store
*.xcuserstate
*.xcbkptlist
ChristmasTracker/ChristmasTracker.xcodeproj/xcuserdata/balberta.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChristmasTracker/ChristmasTracker.xcodeproj/project.xcworkspace/xcuserdata/balberta.xcuserdatad/UserInterfaceState.xcuserstate
ChristmasTracker/ChristmasTracker.xcodeproj/xcuserdata/balberta.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChristmasTracker/.DS_Store
Distribution/
ChristmasTracker/ChristmasTracker.xcodeproj/project.xcworkspace/xcuserdata/balberta.xcuserdatad/UserInterfaceState.xcuserstate
ChristmasTracker/ChristmasTracker.xcodeproj/xcuserdata/balberta.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChristmasTracker/ChristmasTracker.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
ChristmasTracker/ChristmasTracker.xcodeproj/project.xcworkspace/xcuserdata/brian.xcuserdatad/WorkspaceSettings.xcsettings
ChristmasTracker/ChristmasTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ChristmasTracker/ChristmasTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
