
ChristmasTracker_Dist/*
.DS_Store
*.xcuserstate
*.xcbkptlist
ChristmasTracker/ChristmasTracker.xcodeproj/xcuserdata/balberta.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChristmasTracker/ChristmasTracker.xcodeproj/xcuserdata/balberta.xcuserdatad/xcschemes/xcschememanagement.plist
ChristmasTracker/ChristmasTracker.xcodeproj/project.xcworkspace/xcuserdata/balberta.xcuserdatad/UserInterfaceState.xcuserstate
ChristmasTracker/ChristmasTracker.xcodeproj/xcshareddata/xcschemes/ChristmasTracker.xcscheme
ChristmasTracker/ChristmasTracker.xcodeproj/xcuserdata/balberta.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChristmasTracker/.DS_Store
